.text-ui-dark-accent-color{
    text-align: center;
    font-weight: bold;
    font-size: 73px;
    display: block;
}
.courses__subtitle{
    text-align: center;
    font-size: 56px;
    font-family: nebas-neue;

}