.text-ui-dark-accent-color{
    font-weight: bold;
    font-size: 73px;
    display: block;
    font-family: nebas-neue;
    box-sizing: border-box;
    color: rgb(33, 128, 136);
    font-style: normal;
    text-transform: none;
    text-align: center;
}
.courses__subtitle{
    text-align: center;
    text-transform: none;
    font-size: 73px;
    font-style: normal;
    font-family: nebas-neue;
    font-weight: 400;
    box-sizing: border-box;
    letter-spacing: -1.46;
    line-height: 87.6px;
    overflow-wrap: break-word;
    vertical-align: baseline;
   

}